<p id="notice"><%= notice %></p>

<h1>Application Details</h1>
<p>
  <strong>Citizenship:</strong>
  <%= @person_application.citizenship %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person_application.date_of_birth %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @person_application.email_address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person_application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person_application.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @person_application.phone_number %>
</p>

<p>
  <strong>Tin:</strong>
  <%= @person_application.tin %>
</p>

<p>
  <strong>Street line 1:</strong>
  <%= @person_application.street_line_1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @person_application.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @person_application.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @person_application.postal_code %>
</p>

<p>
  <strong>Treasury Prime ID:</strong>
  <%= @person_application.treasury_prime_id%>
</p>

<p>
  <strong>Checking Account Application ID:</strong>
  <% if @person_application.checking_application_id.present? %>
    <%= link_to @person_application.checking_application_id, checking_account_path(@person_application.checking_application_id)  %>
  <% end %>
</p>

<%= link_to 'Apply for Chequing Account', apply_for_chequing_path(@person_application) %> |
<%= link_to 'Edit', edit_person_application_path(@person_application) %> |
<%= link_to 'Back', person_applications_path %>


